@font-face {
  font-family: "saling-cinta";
  src: url("../../fonts/saling-cinta.otf") format("opentype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#outer-container {
  height: 100vh;
  width: 100vw;
}

#header {
  text-align: center;
  font-family: "saling-cinta";
  position: absolute;
  top: 36px;
  left: 50%;
  transform: translate(-50%, -50%);
}
