#nav {
  width: 25rem;
}

#nav nav {
  position: fixed;
  right: 2rem;
  top: 50%;
  padding-right: 1rem;
  margin-top: -20%;
  border-left: 0;
  border-top: 0;
  border-bottom: 0;
  border-right: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #f5deb6, #af8c5e);
}

#nav nav ul {
  list-style: none;
  color: #667085;
  font-size: 1.2rem;
  line-height: 3rem;
  text-align: right;
}
#nav nav a {
  color: #667085;
  text-decoration: none;
}

#nav nav a:hover {
  color: #af8c5e;
  text-decoration: none;
}
